body {
  padding-top: 70px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.green {
  color: green;
}

.red {
  color: red;
}

.cursor-pointer {
  cursor: pointer;
}

.no-break {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.login-view, .signup-view {
  height: 100vh;
}